.already {
  color: #999;
}
.show-all .already {
  display: block;
}
.todo-list {
  list-style: none;
  margin-left: 0;
  padding: 10px;
  background: #f0f0f0;
  display: inline-block;
}
.todo-list .todo-text {
  cursor: pointer;
  min-width: 200px;
  display: inline-block;
  margin-right: 1em;
}
.todo-list .todo-text:hover {
  color: skyblue;
}
.del {
  cursor: pointer;
}